//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

BRAND_NAME = moocHOUSE
PRODUCT_NAME = moocHOUSE
DISPLAY_NAME = mooc.HOUSE

BASE_BUNDLE_IDENTIFIER = de.xikolo.moochouse

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)$(EXTENSION_PATH)

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${BRAND_NAME}/ios.entitlements
KEYCHAIN_GROUP = $(AppIdentifierPrefix)$(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)
