//
//  Created for xikolo-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

APP_IDENTIFIER = moochouse

BRAND_NAME = moocHOUSE
PRODUCT_NAME = $(APP_IDENTIFIER)
DISPLAY_NAME = mooc.house
URL_SCHEME = moochouse

BASE_BUNDLE_IDENTIFIER = de.xikolo.moochouse

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)$(EXTENSION_PATH)
ACTIVITY_TYPE_OPEN_COURSE = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX).course.open

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${BRAND_NAME}/ios.entitlements

FEATURE_FLIPPER_COURSE_DATES = COURSE_DATES_ENABLED
