//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-WidgetExtension/Pods-WidgetExtension.openhpi-ios-release.xcconfig"
#include "openHPI-Common.xcconfig"
#include "../Release.xcconfig"

PRODUCT_NAME = widget
PRODUCT_MODULE_NAME = Widget
EXTENSION_PATH = .widget

