//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

APP_IDENTIFIER = openhpi

BRAND_NAME = openHPI
PRODUCT_NAME = $(APP_IDENTIFIER)
DISPLAY_NAME = openHPI
URL_SCHEME = openhpi

BASE_BUNDLE_IDENTIFIER = de.xikolo.openhpi

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)$(EXTENSION_PATH)
ACTIVITY_TYPE_OPEN_COURSE = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX).course.open

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${BRAND_NAME}/ios.entitlements
