//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

GCC_OPTIMIZATION_LEVEL = 0
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
ENABLE_NS_ASSERTIONS = YES

OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG -D $(FEATURE_FLIPPER_COURSE_DATES) -D COCOAPODS -Xfrontend -warn-long-function-bodies=250 -Xfrontend -warn-long-expression-type-checking=250

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev

IDENTIFIER_SUFFIX = .debug
