//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-iOS/Pods-iOS.openhpi-ios-debug.xcconfig"
#include "openHPI-iOS-Common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = de.xikolo.openhpi.debug
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
