//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-iOS/Pods-iOS.opensap-ios-release.xcconfig"
#include "openSAP-iOS-Common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = de.xikolo.opensap
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

GCC_OPTIMIZATION_LEVEL = s
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_NS_ASSERTIONS = NO
