//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

BRAND_NAME = lernencloud
PRODUCT_NAME = lernencloud
DISPLAY_NAME = Lernen.cloud
URL_SCHEME = lernencloud

BASE_BUNDLE_IDENTIFIER = de.xikolo.lernencloud

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)$(EXTENSION_PATH)

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${BRAND_NAME}/ios.entitlements
