//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-WidgetExtension/Pods-WidgetExtension.lernencloud-ios-debug.xcconfig"
#include "lernencloud-Common.xcconfig"
#include "../Debug.xcconfig"

PRODUCT_NAME = WidgetExtension
PRODUCT_MODULE_NAME = Widget
EXTENSION_PATH = .widget
