//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

PRODUCT_NAME = openWHO
DISPLAY_NAME = OpenWHO
APP_GROUP_IDENTIFIER = group.de.xikolo.openwho
BASE_BUNDLE_IDENTIFIER = de.xikolo

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${PRODUCT_NAME}/ios.entitlements
PRODUCT_MODULE_NAME = iOS
