//
//  Created for xikolo-ios under MIT license.
//  Copyright © HPI. All rights reserved.
//

BRAND_NAME = openWHO
PRODUCT_NAME = openWHO
DISPLAY_NAME = OpenWHO
URL_SCHEME = openwho

BASE_BUNDLE_IDENTIFIER = de.xikolo.openwho

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)$(EXTENSION_PATH)
ACTIVITY_TYPE_OPEN_COURSE = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX).course.open

CODE_SIGN_ENTITLEMENTS = iOS/Branding/${BRAND_NAME}/ios.entitlements
