//
//  Created for xikolo-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-WidgetExtension/Pods-WidgetExtension.openwho-ios-release.xcconfig"
#include "openWHO-Common.xcconfig"
#include "../Release.xcconfig"

PRODUCT_NAME = WidgetExtension
PRODUCT_MODULE_NAME = Widget
EXTENSION_PATH = .widget
